header {
    background-color: #ffffff;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    border: 3px solid #dddddd;
}

body {
    background-image: url("../images/background.png");
    background-color: #cccccc;
}

.namebox {
    background-color:#4aaaa5; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    height: 75px;
    width: 225px;
    text-align: center;
    margin-left: 15%;
}

.myname {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    left: 17%;
    top: 17px;
}

.links {
    color:#dddddd;
    font-size: 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-right: 15%;
    position: relative;
    top: 25px;
}

#about, #portfolio, #contact {
    color:#dddddd;
}

.contentbox {
    background-color:  #ffffff;
    margin-top: 100px;
    width: 960px;
    text-align: left;
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 200%;
    position: absolute;
    top: 35px;
    left: 220px;
    right: 150px;
    padding: 20px; 
    border: 3px solid #dddddd;
    
}

.portrait {
    float: left;
    padding: 20px;
    height: 175px;
    width: 150px;
}

.title {
    padding: 20px;
    font-size: 30px;
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif, serif;
    font-weight: 600;
    color:#4aaaa5; 
}

.footer {
    background-color: #666666;
    color:#c4bcb0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 1em;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 10px solid #4aaaa5; 
    text-align: center;
    height: 40px;
    position: absolute;
}